<div class="header" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(255,255,255,0.4)), url('https://res.cloudinary.com/ddkr8d6rd/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1613936247/ciqsxvqoh9sghnu7dde9.jpg')">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <%= link_to "Cocktails", root_path, class: "navbar-brand"%>
      <%= link_to "Add new cocktail", new_cocktail_path, class: "btn btn-success"%>
    </div>
  </nav>
  <div class="banner text-center">
  </div>
</div>
<div class="container home-container">
  <div class="cocktails d-flex justify-content-around flex-wrap mt-4 mb-4">
    <% if @cocktails %>
      <% @cocktails.each do |cocktail|%>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(255,255,255,0.4)), url(<%= cl_image_path cocktail.photo.key %>)">
          <div class="text-center">
            <h2><%= link_to cocktail.name, cocktail_path(cocktail), class: "head"%></h2>
          </div>
          <div class="card-body">
            <ul>
              <% cocktail.doses.each do |dose| %>
                <li><%= dose.description %> - <%=dose.ingredient.name%></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end%>
    <% end %>
  </div>
</div>


